image:
  registry: docker.io
  repository: adguard/adguardhome
  tag: v0.107.50

primary:
  replicas: 1
  resources: {}
  strategy:
    type: Recreate

secondary:
  replicas: 3
  resources: {}

  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: ScheduleAnyway
      labelSelector:
        matchLabels:
          app.kubernetes.io/component: adguard-secondary
          app.kubernetes.io/instance: adguard
          app.kubernetes.io/name: adguard

persistence:
  labels:
    recurring-job.longhorn.io/source: enabled
    recurring-job-group.longhorn.io/backup: enabled
  size: 1Gi

service:
  # https://docs.cilium.io/en/v1.14/network/concepts/ipam/cluster-pool/
  # https://kubernetes.io/docs/concepts/services-networking/cluster-ip-allocation/
  annotations:
    'io.cilium/lb-ipam-ips': 192.168.102.11

ingress:
  enabled: true
  domain: adguard.feddema.dev
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-dns
  tls:
    enabled: true
    secretName: adguard-tls

copyConfig:
  image:
    registry: docker.io
    repository: busybox
    tag: 1.36.1

sync:
  replicas: 1
  resources: {}

  config:
    secret:
      name: adguard-sync-credentials
      sealedValues:
        password: AgBdNhUmvMPFgbpgcwpEy9FA6CxbkKiI2QxxQ113FuW9sxcV2khaHXVrOgQrACBQocYRmLJ/arFbRx8nWVK/TWxdciPdtA6s7NOlv44USlyoS0fvDttdbOfQkdBul7MRuysBcjF2FmqDb68qcN8BVaOl9tw2ehlVh0xFWykG++808lC8JrNntMzNFvbAknBIsEATUaKg5gCRpewhiSGLLgUxZKlj+vWAhmG91q+RWASNbYsHW2nuggbLt1MPZQ2b/lkzBr9WHuKXjugQOXxl2PeqCL/N7Akb6ducFU0vKw7UaPIkFMBbtcZ9gLirYr8wRhQYbC7NljkadWmDTjVhtUwXpHmZqmG4Oy7oSXwQHAz4+c9SBg5J+XJVCojDpOmcsBXFOm7gx73yHYp6Rp7YlqphsQTUALcdz9cYmj2AQtm7W1CiVfNHuyH1z5eOYgOUzXt4pGbAcPMITrOj4Fsp2YVj2CgBBb47V/iWMZasLCzw09gpQv6VU9ff3GH636GLRc/YEPRNmIb3Ow20HHsL1GbQbTV2sf5lfBGB+e6Um7S8LH+UrUZSmil8Lo13JFqdFjAgpH+JyJRc0sWsiOYpfaCW10lVy2/jHnLE7zzbz9tyTffY7CjKm/YCTnmV7hB/rUruhcIElPbgp/+QSyqZJby6C2Z7fLbxAG2a/PTJv7avGYEiJ8O1Hpfd6qL1MX0smNg8rAeFjsIIMYDzg9NJ5lpfc+HOi915SvpPSNYhCZdHQtrtDRKgxMicbt96aItmzbvEqs8+0i51lX4xA5/z7Y4e
    loglevel: info
    cron: "*/1 * * * *"

  image:
    registry: ghcr.io
    repository: bakito/adguardhome-sync
    tag: v0.6.11

secret:
  name: adguard-credentials
  sealedValues:
    password: AgAdN5/szkY81VTJ4is/6Wq+iCFt/1YgEArZoZYUtDxn5EXJvkN6jGff5sEc6NugsWbw11Eg8Edotnojl+zmTB19UDBP1zsewb+LoI6W4aTzc8IoPH6jGSbUzODRsMleWMUMj63Q4/dFc5Id4LvNkQxSvISBaSGLZQ5UYQ3QyQboOOYZPUwQaueACzbIWa/GiHFNUxqOa2EC4qHxNaPbqgLmLMLQgUGlU7jTVQtAPhYKh2fTdFCRYjKG4IroJRoITkzDY1hZHeeDTPKXPtKclfIE90KLo36elY5znLvIO5dxSLyFn2hBgkx/dIyeT3JJ/BX/YZpS9/xEbdaUTNtFgxNbPi8ihhQdDn9l9WW4Q3mCvDx0uLbrBXcnCGqatPkQ/4j549Q2KAUPjLBBcvR0lC3TxfxJ0FdbKcMlLvx9eY4k5y7ndmY/VY42zyN1SMtSKU5makxC0X0xcEvWjiLWFAhf2b+IyguuAAgs603UBIF6bLUrLWoTxaBFheoaumnzXDE0eUM/jHCBAOopven53moTfl+e5O9HQ4RVluMBEc2eD0r23IBGULYXmEkkoAmsLJMzggkqLJ7QmiB2nGnPbEc6kBOyTdAR5QeFFXGjh2JhYKWqZOWEU6Y10a62FVSEeGI28F7iInlXOZZQ6hcV+ngPo70Tj1aFl6i2K11ICqNuUKnHk7c8nLLkiPjEpK9UFyK/CWmeqzWqT4PTL3rzJMOY3ean5cTj5y2x1jQ3gql6b1FSBNDilTA2cjIqkYL9OPlwMA8kyktvmcO2Psg=

config:
  http:
    pprof:
      port: 6060
      enabled: false
    address: 0.0.0.0:3000
    session_ttl: 720h
  users:
    - name: admin
      password: "%%%PASSWORD%%%"
  auth_attempts: 5
  block_auth_min: 15
  http_proxy: ""
  language: ""
  theme: auto
  dns:
    bind_hosts:
      - 0.0.0.0
    port: 53
    anonymize_client_ip: false
    ratelimit: 20
    ratelimit_subnet_len_ipv4: 24
    ratelimit_subnet_len_ipv6: 56
    ratelimit_whitelist: [ ]
    refuse_any: true
    upstream_dns:
      - tls://dns10.quad9.net
    upstream_dns_file: ""
    bootstrap_dns:
      - 1.1.1.1
      - 1.0.0.1
    fallback_dns:
    all_servers: false
    fastest_addr: false
    fastest_timeout: 1s
    allowed_clients: [ ]
    disallowed_clients: [ ]
    blocked_hosts:
      - version.bind
      - id.server
      - hostname.bind
    trusted_proxies:
      - 127.0.0.0/8
      - ::1/128
    cache_size: 4194304
    cache_ttl_min: 0
    cache_ttl_max: 0
    cache_optimistic: false
    bogus_nxdomain: [ ]
    aaaa_disabled: false
    enable_dnssec: false
    edns_client_subnet:
      custom_ip: ""
      enabled: false
      use_custom: false
    max_goroutines: 300
    handle_ddr: true
    ipset: [ ]
    ipset_file: ""
    bootstrap_prefer_ipv6: false
    upstream_timeout: 10s
    private_networks: [ ]
    use_private_ptr_resolvers: true
    local_ptr_upstreams: [ ]
    use_dns64: false
    dns64_prefixes: [ ]
    serve_http3: false
    use_http3_upstreams: false
  tls:
    enabled: false
    server_name: ""
    force_https: false
    port_https: 443
    port_dns_over_tls: 853
    port_dns_over_quic: 853
    port_dnscrypt: 0
    dnscrypt_config_file: ""
    allow_unencrypted_doh: false
    certificate_chain: ""
    private_key: ""
    certificate_path: ""
    private_key_path: ""
    strict_sni_check: false
  querylog:
    ignored: [ ]
    interval: 24h
    size_memory: 1000
    enabled: true
    file_enabled: true
  statistics:
    ignored: [ ]
    interval: 24h
    enabled: true
  filters:
    - enabled: true
      url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_1.txt
      name: AdGuard DNS filter
      id: 1701729775
    - enabled: true
      url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_27.txt
      name: OISD Blocklist Big
      id: 1701729776
    - enabled: true
      url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_49.txt
      name: HaGeZi's Ultimate Blocklist
      id: 1701729777
  whitelist_filters: [ ]
  user_rules: [ ]
  dhcp:
    enabled: false
    interface_name: ""
    local_domain_name: lan
    dhcpv4:
      gateway_ip: ""
      subnet_mask: ""
      range_start: ""
      range_end: ""
      lease_duration: 86400
      icmp_timeout_msec: 1000
      options: [ ]
    dhcpv6:
      range_start: ""
      lease_duration: 86400
      ra_slaac_only: false
      ra_allow_slaac: false
  filtering:
    blocking_ipv4: ""
    blocking_ipv6: ""
    blocked_services:
      schedule:
        time_zone: Europe/Amsterdam
      ids: [ ]
    protection_disabled_until: null
    safe_search:
      enabled: false
      bing: true
      duckduckgo: true
      google: true
      pixabay: true
      yandex: true
      youtube: true
    blocking_mode: default
    parental_block_host: family-block.dns.adguard.com
    safebrowsing_block_host: standard-block.dns.adguard.com
    rewrites: [ ]
    safebrowsing_cache_size: 1048576
    safesearch_cache_size: 1048576
    parental_cache_size: 1048576
    cache_time: 30
    filters_update_interval: 24
    blocked_response_ttl: 10
    filtering_enabled: true
    parental_enabled: false
    safebrowsing_enabled: false
    protection_enabled: true
  clients:
    runtime_sources:
      whois: true
      arp: true
      rdns: true
      dhcp: true
      hosts: true
    persistent: [ ]
  log:
    file: ""
    max_backups: 0
    max_size: 100
    max_age: 3
    compress: false
    local_time: false
    verbose: false
  os:
    group: ""
    user: ""
    rlimit_nofile: 0
  schema_version: 27
