snapshot-controller:
  controller:
    revisionHistoryLimit: 0
    args:
      automaxprocs: true
      feature-gates: CSIVolumeGroupSnapshot=false
    resources:
      requests:
        cpu: 10m
        memory: 20Mi
      limits:
        memory: 50Mi

    serviceMonitor:
      create: true

  webhook:
    enabled: false
