vpa:
  recommender:
    enabled: true
    revisionHistoryLimit: 0
    extraArgs:
      v: "4"
      pod-recommendation-min-cpu-millicores: '10'
      pod-recommendation-min-memory-mb: '25'
      round-cpu-millicores: '10'
      round-memory-bytes: '26214400' # 25MiB
      prometheus-address: http://prometheus-thanos-query.prometheus:9090
      storage: prometheus
      history-length: 8d
      history-resolution: 15m
    replicaCount: 2
    podMonitor:
      enabled: true
    resources:
      limits:
        memory: 100Mi
      requests:
        cpu: 10m
        memory: 50Mi
    image:
      repository: registry.k8s.io/autoscaling/vpa-recommender
      tag: "1.6.0"

  updater:
    enabled: true
    revisionHistoryLimit: 0
    replicaCount: 2
    podMonitor:
      enabled: true
    resources:
      limits:
        memory: 120Mi
      requests:
        cpu: 10m
        memory: 50Mi
    image:
      repository: registry.k8s.io/autoscaling/vpa-updater
      tag: "1.6.0"

  admissionController:
    revisionHistoryLimit: 0
    enabled: true
    generateCertificate: true
    registerWebhook: true
    replicaCount: 2
    podMonitor:
      enabled: true
    resources:
      limits:
        memory: 100Mi
      requests:
        cpu: 10m
        memory: 50Mi
    image:
      repository: registry.k8s.io/autoscaling/vpa-admission-controller
      tag: "1.6.0"
