vertical-pod-autoscaler:
  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 65534
    seccompProfile:
      type: RuntimeDefault

  containerSecurityContext:
    allowPrivilegeEscalation: false
    privileged: false
    readOnlyRootFilesystem: true
    capabilities:
      drop:
      - ALL

  admissionController:
    resources:
      limits:
        cpu: null
        memory: 100Mi
      requests:
        cpu: 20m
        memory: 50Mi

    tls:
      existingSecret: vpa-admission-controller-secret

  recommender:
    extraArgs:
    - "--pod-recommendation-min-cpu-millicores=5"
    - "--pod-recommendation-min-memory-mb=10"
    - "--prometheus-address=http://prometheus-prometheus.prometheus.svc.cluster.local:9090"
    - "--storage=prometheus"

    resources:
      limits:
        memory: 140Mi
      requests:
        cpu: 20m
        memory: 70Mi

  updater:
    resources:
      limits:
        memory: 100Mi
      requests:
        cpu: 20m
        memory: 50Mi
