vpa:
  recommender:
    enabled: true
    revisionHistoryLimit: 0
    extraArgs:
      v: "4"
      pod-recommendation-min-cpu-millicores: '10'
      pod-recommendation-min-memory-mb: '25'
      round-cpu-millicores: '10'
      round-memory-bytes: '26214400' # 25MiB
      prometheus-address: http://prometheus-prometheus.prometheus.svc.cluster.local:9090
      storage: prometheus
      history-length: 5d
      history-resolution: 30m
    replicaCount: 2
    podMonitor:
      enabled: true
    resources:
      limits:
        memory: 120Mi
      requests:
        cpu: 10m
        memory: 80Mi

  updater:
    enabled: true
    revisionHistoryLimit: 0
    replicaCount: 2
    podMonitor:
      enabled: true
    resources:
      limits:
        memory: 120Mi
      requests:
        cpu: 10m
        memory: 80Mi

  admissionController:
    revisionHistoryLimit: 0
    enabled: true
    generateCertificate: true
    registerWebhook: true
    replicaCount: 2
    podMonitor:
      enabled: true
    resources:
      limits:
        memory: 120Mi
      requests:
        cpu: 10m
        memory: 80Mi
