gateway-helm:
  deployment:
    envoyGateway:
      resources:
        limits:
          memory: 256Mi
        requests:
          cpu: 50m
          memory: 128Mi
    replicas: 2

  config:
    envoyGateway:
      logging:
        level:
          default: warn
#      provider:
#        type: Kubernetes
#        kubernetes:
#          deploy:
#            type: GatewayNamespace


gateway-addons-helm:
  grafana:
    enabled: false
  prometheus:
    enabled: false
  fluent-bit:
    enabled: false
  loki:
    enabled: false
  tempo:
    enabled: false
