gatus-monitor:
  appName: grafana
  publicEndpoints:
    - name: grafana
  privateEndpoints:
    - name: grafana

grafana:
  assertNoLeakedSecrets: false

  serviceAccount:
    autoMount: true

  sidecar:
    dashboards:
      enabled: true    
      searchNamespace: ALL
    datasources:
      enabled: true
      searchNamespace: ALL
    plugins:
      enabled: true
      searchNamespace: ALL

  datasources:
    datasource-loki.yaml:
      apiVersion: 1
      datasources:
        - name: Loki
          type: loki
          access: proxy
          uid: loki
          url: http://loki-gateway.loki.svc.cluster.local
          editable: false

  replicas: 1
  revisionHistoryLimit: 0

  ingress:
    enabled: false

  route:
    main:
      enabled: true
      hostnames:
        - grafana.feddema.dev
      parentRefs:
      - name: envoy-gateway
        namespace: envoy-gateway
        sectionName: web-https

  extraSecretMounts:
    - name: auth-generic-oauth-secret-mount
      secretName: grafana-oauth-credentials
      defaultMode: 0440
      mountPath: /etc/secrets/auth_generic_oauth
      readOnly: true

  grafana.ini:
    auth:
      signout_redirect_url: https://authentik.feddema.dev/application/o/grafana/end-session/
    auth.generic_oauth:
      enabled: true
      name: Authentik
      scopes: "openid email profile"
      auto_login: true
      auth_url: "https://authentik.feddema.dev/application/o/authorize/"
      token_url: "https://authentik.feddema.dev/application/o/token/"
      api_url: "https://authentik.feddema.dev/application/o/userinfo/"
      client_id: $__file{/etc/secrets/auth_generic_oauth/client_id}
      client_secret: $__file{/etc/secrets/auth_generic_oauth/client_secret}
      allow_assign_grafana_admin: true
      role_attribute_path: contains(groups[*], 'Admins') && 'Admin' || contains(groups[*], 'Contributor') && 'Editor' || 'Viewer'
    paths:
      data: /var/lib/grafana
      logs: /var/log/grafana
      plugins: /var/lib/grafana/plugins
      provisioning: /etc/grafana/provisioning
    analytics:
      enabled: false
      reporting_enabled: false
      check_for_updates: false
      check_for_plugin_updates: false
      feedback_links_enabled: false
    log:
      mode: console
      level: warn
    grafana_net:
      url: https://grafana.net
    server:
      enable_gzip: true
      domain: "https://grafana.feddema.dev"
      root_url: "https://grafana.feddema.dev"

  serviceMonitor:
    enabled: true

  resources:
    limits:
      memory: 256Mi
    requests:
      cpu: 50m
      memory: 128Mi

  persistence:
    enabled: false

  admin:
    existingSecret: "grafana-credentials"
    userKey: admin-user
    passwordKey: admin-password
