gatus-monitor:
  appName: gatus
  publicEndpoints:
    - name: gatus
    - name: status
  privateEndpoints:
    - name: gatus
    - name: status

database:
  clusterName: gatus-postgres
  size: 20Gi
  replicas: 2
  storageClass: ceph-block-nvme-1

gatus:
  route:
    enabled: true
    hostnames:
      - gatus.feddema.dev
      - status.feddema.dev
    parentRefs:
      - name: envoy-gateway-public
        namespace: envoy-gateway
        sectionName: web-https

  grafana:
    dashboard:
      enabled: true

  gatus:
    resources: {}

    secrets: true
    env:
      POSTGRES_DB: app
      POSTGRES_HOST: gatus-postgres-rw.gatus
      POSTGRES_PORT: "5432"
      POSTGRES_USER: app

    config:
      connectivity:
        checker:
          target: 1.1.1.1:53
          interval: 10s
      storage:
        type: postgres
        path: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"
        caching: true
      alerting:
        telegram:
          token: ${TELEGRAM_TOKEN}
          id: ${TELEGRAM_ID}

      endpoints: []
