gatus-monitor:
  appName: jellyfin
  publicEndpoints:
    - name: jellyfin
  privateEndpoints:
    - name: jellyfin

podSecurityContext: {}
securityContext: {}

mediaPvcName: media-server-media

resources:
  claims:
    - name: i915

resourceClaims:
  - name: i915
    resourceClaimTemplateName: i915

image:
  registry: ghcr.io
  repository: jellyfin/jellyfin
  tag: 10.11.2

persistence:
  size: 4Gi
  labels:
    feddema.dev/backup: "true"

route:
  enabled: true
  hostnames:
    - jellyfin.feddema.dev
  parentRefs:
    - name: envoy-gateway-public
      namespace: envoy-gateway
      sectionName: web-https
