{{ range $groupKey, $groupValue := .Values.products }}
{{ range $productKey, $productValue := $groupValue }}
{{ if $productValue.deploy }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ include "base.productName" (dict "key" $productKey "value" $productValue) }}
  namespace: argocd
  labels:
    feddema.dev/group: {{ $groupKey }}
  {{- if $productValue.serverSideDiff }}
  annotations:
    argocd.argoproj.io/compare-options: ServerSideDiff=true
  {{- end }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  {{- if $productValue.autoSync }}
  project: always-sync
  {{- else }}
  project: no-sync
  {{- end }}
  source:
    repoURL: https://github.com/FlorisFeddema/homelab.git
    targetRevision: HEAD
    path: products/{{ ( kebabcase $groupKey ) }}/{{ include "base.productName" (dict "key" $productKey "value" $productValue) }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ default (include "base.productName" (dict "key" $productKey "value" $productValue)) $productValue.namespace }}
  revisionHistoryLimit: 1
  {{- with $productValue.ignoreDifferences }}
  ignoreDifferences: {{ toYaml $productValue.ignoreDifferences | nindent 4 }}
  {{- end }}
  syncPolicy:
    syncOptions:
      - RespectIgnoreDifferences=true
      - FailOnSharedResource=true
    {{- if $productValue.serverSideApply }}
      - ServerSideApply=true
    {{- end }}
    automated:
      prune: true
      selfHeal: true
    retry:
      limit: 2
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 10m
---
{{ end -}}
{{ end -}}
{{ end -}}
