immich:
  persistence:
    size: 500Gi
    storageClass: 'ceph-filesystem'
    accessMode: ReadWriteMany

  database:
    clusterName: immich-data
    replicas: 2
    size: 32Gi

  ingress:
    enabled: true
    domain: photos.mobrockers.com
    annotations:
      # proxy-body-size is set to 0 to remove the body limit on file uploads
      nginx.ingress.kubernetes.io/proxy-body-size: '0'
    tls:
      enabled: true

  server:
    podSecurityContext:
      fsGroup: 6000

  machineLearning:
    # modelPreload:
    #   objectRecognition: 'immich-app/ViT-L-16-SigLIP-384__webli'
    #   faceRecognition: 'immich-app/buffalo_l'
    resources:
      requests:
        cpu: 1000m
        memory: 2Gi
      limits:
        memory: 6Gi
