velero:
  revisionHistoryLimit: 0
  resources: { }

  upgradeCRDs: false

  initContainers:
   - name: velero-plugin-for-microsoft-azure
     image: velero/velero-plugin-for-microsoft-azure:v1.13.1
     imagePullPolicy: IfNotPresent
     volumeMounts:
       - mountPath: /target
         name: plugins

  metrics:
    serviceMonitor:
      enabled: true
    nodeAgentPodMonitor:
      enabled: true

  configuration:
    backupStorageLocation:
      - name: default
        provider: azure
        bucket: velero
        default: true
        credential:
          name: velero-credentials
          key: credentials
        config:
          useAAD: "true"
          resourceGroup: "homelab"
          storageAccount: "feddemadevbackups"
          subscriptionId: "d6b524dd-32ef-4b34-a63c-12a0d389e4bf"

    volumeSnapshotLocation:
    - name: default
      provider: azure
      credential:
        name: velero-credentials
        key: credentials
      config:
        resourceGroup: "homelab"
        subscriptionId: "d6b524dd-32ef-4b34-a63c-12a0d389e4bf"

    features: EnableCSI
    logFormat: json
    logLevel: info

  deployNodeAgent: true
  nodeAgent:
    extraArgs:
      - --node-agent-configmap=velero-node-agent-config
  schedules:
    backup:
      schedule: "23 3 * * *"
      template:
        ttl: "120h"
        storageLocation: default
        snapshotMoveData: true
        includedNamespaces:
        - adguard
        - home-assistant
        - immich
        - media-server
        - nextcloud
        - zigbee2mqtt
        resourcePolicy:
          kind: configmap
          name: resource-policy
