route:
  enabled: true
  hostnames:
    - kyverno.feddema.dev
  parentRefs:
    - name: envoy-gateway
      namespace: envoy-gateway
      sectionName: web-https

kyverno-policies:
  podSecurityStandard: restricted
  podSecuritySeverity: low

kyverno:
  kyverno-api:
    annotations:
      argocd.argoproj.io/sync-options: ServerSideApply=true
    labels:
      app.kubernetes.io/part-of: kyverno
  global:
    resyncPeriod: 15m

  openreports:
    enabled: true
    installCrds: true

  features:
    mutatingAdmissionPolicyReports:
      enabled: false # Can enable from 1.34?
    generateMutatingAdmissionPolicy:
      enabled: false # Can enable from 1.34?
    policyExceptions:
      enabled: true

  grafana:
    enabled: true

  admissionController:
    replicas: 3
    revisionHistoryLimit: 0
    serviceMonitor:
      enabled: true

  backgroundController:
    revisionHistoryLimit: 0
    serviceMonitor:
      enabled: true

  cleanupController:
    revisionHistoryLimit: 0
    serviceMonitor:
      enabled: true

  reportsController:
    revisionHistoryLimit: 0
    serviceMonitor:
      enabled: true

policy-reporter:
  revisionHistoryLimit: 0
  periodicSync:
    enabled: true

  metrics:
    enabled: true

  ui:
    enabled: true
    revisionHistoryLimit: 0

    banner: "Gerador"

    openIDConnect:
      enabled: true
      callbackUrl: https://kyverno.feddema.dev/callback
      secretRef: "oidc-credentials"

  plugin:
    kyverno:
      enabled: true
      revisionHistoryLimit: 0
      blockReports:
        enabled: true
        results:
          keepOnlyLatest: true
          source: 'Kyverno Event'
    trivy:
      enabled: true
      revisionHistoryLimit: 0

  monitoring:
    enabled: true
    grafana:
      namespace: ~
