coredns:
  replicaCount: 3
  resources:
    limits:
      cpu: null
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 64Mi

  terminationGracePeriodSeconds: 30
  prometheus:
    service:
      enabled: true
    monitor:
      enabled: true

  service:
   trafficDistribution: PreferSameNode

  serviceAccount:
    create: true

  isClusterService: true

  priorityClassName: "system-cluster-critical"

  # Default zone is what Kubernetes recommends:
  # https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#coredns-configmap-options
  servers:
    - zones:
        - zone: .
          use_tcp: true
      port: 53
      plugins:
        - name: errors
        - name: health
          configBlock: |-
            lameduck 5s
        - name: ready
        - name: log
          configBlock: |-
            class error
        - name: prometheus
          parameters: 0.0.0.0:9153
        - name: kubernetes
          parameters: cluster.local in-addr.arpa ip6.arpa
          configBlock: |-
            pods insecure
            fallthrough in-addr.arpa ip6.arpa
            ttl 30
        - name: forward
          parameters: . /etc/resolv.conf
          configBlock: |-
            max_concurrent 1000
        - name: cache
          parameters: 30
          configBlock: |-
            disable success cluster.local
            disable denial cluster.local
        - name: loop
        - name: reload
        - name: loadbalance

  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
    - effect: NoSchedule
      key: node.cloudprovider.kubernetes.io/uninitialized
      operator: Exists

  podDisruptionBudget: { }

