gatus-monitor:
  appName: dawarich
  publicEndpoints:
    - name: dawarich
  privateEndpoints:
    - name: dawarich

dawarich:
  database:
    backups:
      enabled: true
      destination: 'https://feddemadevbackups.blob.core.windows.net/cnpg'
      retention: '14d'
      schedule: '0 23 4 * * *'
      secretName: 'azure-db-store'
      azure:
        connectionStringKeyName: 'CONNECTION_STRING'

    storageClass: ceph-block-nvme-1
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
      - maxSkew: 1
        topologyKey: topology.kubernetes.io/zone
        whenUnsatisfiable: ScheduleAnyway

  route:
    enabled: true
    hostnames:
      - dawarich.feddema.dev
    parentRefs:
      - name: envoy-gateway-public
        namespace: envoy-gateway
        sectionName: web-https

  photon:
    config:
      country: nl
      updateInterval: '168h'
    persistence:
      storageClass: ceph-block-nvme-1
      size: 20Gi

  ingress:
    enabled: false

  app:
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        memory: 512Mi

  redis:
    master:
      resources:
        requests:
          cpu: 200m
          memory: 250Mi
        limits:
          memory: 500Mi
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app.kubernetes.io/instance: dawarich
                    app.kubernetes.io/managed-by: Helm
                    app.kubernetes.io/name: dawarich
                    app.kubernetes.io/part-of: dawarich
                topologyKey: "kubernetes.io/hostname"
