spegel:
  revisionHistoryLimit: 0

  podSecurityContext:
   fsGroup: 2000

  securityContext:
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true

  resources:
    limits:
      memory: 100Mi
    requests:
      cpu: 75m
      memory: 50Mi

  serviceMonitor:
    enabled: true

  grafanaDashboard:
    enabled: true

  spegel:
    logLevel: "WARN"

    containerdRegistryConfigPath: "/etc/cri/conf.d/hosts"
