spegel:
  podSecurityContext:
   fsGroup: 2000

  securityContext:
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true

  resources: { }

  serviceMonitor:
    enabled: true

  grafanaDashboard:
    enabled: true

  spegel:
    logLevel: "WARN"
    registries:
      - https://cgr.dev
      - https://docker.io
      - https://ghcr.io
      - https://quay.io
      - https://mcr.microsoft.com
      - https://public.ecr.aws
      - https://gcr.io
      - https://registry.k8s.io
      - https://k8s.gcr.io
      - https://lscr.io

    containerdRegistryConfigPath: "/etc/cri/conf.d/hosts"
