gatus-monitor:
  appName: immich
  publicEndpoints:
    - name: immich
  privateEndpoints:
    - name: immich


immich:
  persistence:
    size: 200Gi
    storageClass: 'ceph-file-nvme-2'
    accessMode: ReadWriteMany
    labels:
      feddema.dev/backup: "true"

  ingress:
    enabled: false

  route:
    enabled: true
    hostnames:
      - immich.feddema.dev
    parentRefs:
      - name: envoy-gateway-public
        namespace: envoy-gateway
        sectionName: web-https
    timeouts:
      request: "3600s"

  database:
    clusterName: immich-postgresql
    replicas: 2
    monitoring:
      enabled: true
    size: 32Gi
    storageClass: ceph-block-nvme-1
    backups:
      enabled: false

  machineLearning:
#    modelPreload:
#      objectRecognition: 'immich-app/ViT-L-16-SigLIP-384__webli'
#      faceRecognition: 'immich-app/buffalo_l'
    resources:
      requests:
        cpu: 400m
        memory: 1Gi
      limits:
        memory: 5Gi

  server:
    resources:
      requests:
        cpu: 150m
        memory: 512Mi
      limits:
        memory: 2Gi
