loki:
  global:
    extraArgs:
      - '-config.expand-env=true'
    extraEnvFrom:
      - secretRef:
          name: loki-bucket

  deploymentMode: Distributed
  loki:
    revisionHistoryLimit: 0
    auth_enabled: false
    schemaConfig:
      configs:
        - from: 2024-04-01
          store: tsdb
          object_store: s3
          schema: v13
          index:
            prefix: loki_index_
            period: 24h
    analytics:
      reporting_enabled: false
    ingester:
      chunk_encoding: snappy
      wal:
        enabled: true
    pattern_ingester:
      enabled: true
    querier:
      max_concurrent: 4
    limits_config:
      allow_structured_metadata: true
      volume_enabled: true
      retention_period: 168h
      ingestion_rate_mb: 4
      ingestion_burst_size_mb: 8
      per_stream_rate_limit: 3MB
      per_stream_rate_limit_burst: 6MB
      max_global_streams_per_user: 5000
    commonConfig:
      replication_factor: 2
    compactor:
      delete_request_store: s3
      compaction_interval: 10m
      retention_enabled: true
      retention_delete_delay: 2h
    storage:
      bucketNames:
        chunks: loki # Not used, but required by the chart

      use_thanos_objstore: true
      object_store:
        s3:
          bucket_name: loki
          endpoint: rook-ceph-rgw-ceph-object-nvme-2.rook-ceph.svc
          secret_access_key: ${AWS_SECRET_ACCESS_KEY}
          access_key_id: ${AWS_ACCESS_KEY_ID}
          insecure: true

  test:
    enabled: false
  lokiCanary:
    enabled: false
  gateway:
    enabled: false
  write:
    replicas: 0
  read:
    replicas: 0
  backend:
    replicas: 0

  ingester:
    replicas: 3
    persistence:
      enabled: true

    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app.kubernetes.io/component: ingester
            app.kubernetes.io/name: '{{ include "loki.name" . }}'
            app.kubernetes.io/instance: '{{ .Release.Name }}'
      - maxSkew: 1
        topologyKey: topology.kubernetes.io/zone
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app.kubernetes.io/component: ingester
            app.kubernetes.io/name: '{{ include "loki.name" . }}'
            app.kubernetes.io/instance: '{{ .Release.Name }}'

  querier:
    replicas: 2
    maxUnavailable: 1

  queryFrontend:
    replicas: 2
    maxUnavailable: 1

  queryScheduler:
    replicas: 2

  distributor:
    replicas: 2
    maxUnavailable: 1

  compactor:
    replicas: 1
    persistence:
      enabled: true

  indexGateway:
    replicas: 2
    maxUnavailable: 1
    persistence:
      enabled: true

  ruler:
    enabled: false

  memcached:
    enabled: false

  memchachedExporter:
    enabled: false

  resultsCache:
    enabled: false

  chunksCache:
    enabled: false

  monitoring:
    dashboards:
      enabled: true
    rules:
      enabled: false
    serviceMonitor:
      enabled: true
      metricsInstance:
        enabled: false
