loki:
  deploymentMode: SimpleScalable
  loki:
    schemaConfig:
      configs:
        - from: 2024-04-01
          store: tsdb
          object_store: s3
          schema: v13
          index:
            prefix: loki_index_
            period: 24h
    ingester:
      chunk_encoding: snappy
    querier:
      max_concurrent: 4
    revisionHistoryLimit: 0
    auth_enabled: false
    commonConfig:
      replication_factor: 1
    limits_config:
      per_stream_rate_limit: 512M
      per_stream_rate_limit_burst: 1024M
      cardinality_limit: 200000
      ingestion_burst_size_mb: 1000
      ingestion_rate_mb: 10000
      retention_period: 48h
    storage:
      bucketNames:
        chunks: loki-chunks
        ruler: loki-ruler
        admin: loki-admin
      type: s3
      s3:
        s3: s3://minio.minio:9000
        endpoint: http://minio.minio:9000
        region: eu
        secretAccessKey: ${S3_SECRET_KEY}
        accessKeyId: ${S3_ACCESS_KEY}
        s3ForcePathStyle: true
        insecure: true
    compactor:
      retention_enabled: true
      delete_request_store: s3
      retention_delete_delay: 1h


  write:
    replicas: 3
    persistence:
      size: 100Gi
    extraArgs:
      - '-config.expand-env=true'
    extraEnvFrom:
      - secretRef:
          name: loki-s3-credentials

  read:
    replicas: 3
    legacyReadTarget: false
    extraArgs:
      - '-config.expand-env=true'
    extraEnvFrom:
      - secretRef:
          name: loki-s3-credentials

  backend:
    replicas: 3
    persistence:
      size: 50Gi
      enableStatefulSetAutoDeletePVC: false
    extraArgs:
      - '-config.expand-env=true'
    extraEnvFrom:
      - secretRef:
          name: loki-s3-credentials

  gateway:
    verboseLogging: false
    replicas: 3
    # extraArgs:
    #   - '-config.expand-env=true'
    # extraEnvFrom:
    #   - secretRef:
    #       name: loki-s3-credentials
