loki:
  global:
    extraArgs:
      - '-config.expand-env=true'
    extraEnvFrom:
      - secretRef:
          name: rook-ceph-object-user-ceph-object-nvme-2-loki-svc

  deploymentMode: Distributed
  loki:
    revisionHistoryLimit: 0
    auth_enabled: false
    schemaConfig:
      configs:
        - from: 2024-04-01
          store: tsdb
          object_store: s3
          schema: v13
          index:
            prefix: loki_index_
            period: 24h
    analytics:
      reporting_enabled: false
    ingester:
      chunk_encoding: snappy
      wal:
        enabled: true
    pattern_ingester:
      enabled: true
    querier:
      max_concurrent: 4
    limits_config:
      allow_structured_metadata: true
      volume_enabled: true
      retention_period: 168h
      ingestion_rate_mb: 4
      ingestion_burst_size_mb: 8
      per_stream_rate_limit: 3MB
      per_stream_rate_limit_burst: 6MB
      max_global_streams_per_user: 5000
    commonConfig:
      replication_factor: 2

    storage:
      bucketNames:
        chunks: loki-chunks
        index: loki-index

      use_thanos_objstore: true
      object_store:
        type: s3
        s3:
          endpoint: ${Endpoint}
          secret_access_key: ${SecretKey}
          access_key_id: ${AccessKey}
          s3ForcePathStyle: true
          insecure: true

  test:
    enabled: false
  lokiCanary:
    enabled: false
  gateway:
    enabled: false
  write:
    replicas: 0
  read:
    replicas: 0
  backend:
    replicas: 0

  ingester:
    replicas: 2

  querier:
    replicas: 2
    maxUnavailable: 1

  queryFrontend:
    replicas: 2
    maxUnavailable: 1

  queryScheduler:
    replicas: 2

  distributor:
    replicas: 2
    maxUnavailable: 1

  compactor:
    replicas: 1

  indexGateway:
    replicas: 2
    maxUnavailable: 1

  ruler:
    enabled: false

  memcached:
    enabled: false

  memchachedExporter:
    enabled: false

  resultsCache:
    enabled: false

  chunksCache:
    enabled: false

  monitoring:
    dashboards:
      enabled: true
    rules:
      enabled: false
    serviceMonitor:
      enabled: true
      metricsInstance:
        enabled: false
