apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: always-sync
  source:
    repoURL: https://github.com/FlorisFeddema/GitOps-Glance.git
    targetRevision: HEAD
    path: chart

  destination:
    server: https://kubernetes.default.svc
    namespace: demo

  revisionHistoryLimit: 0
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 5
        maxDuration: 10m
