external-dns:
  global:
    security:
      allowInsecureImages: true
  image:
    registry: registry.k8s.io
    repository: external-dns/external-dns
    tag: v0.19.0
  sources:
#    - ingress
    - service
#    - crd
    - gateway-httproute
    - gateway-tlsroute
    - gateway-udproute
    - gateway-tcproute
    - gateway-grpcroute

  provider: cloudflare
  revisionHistoryLimit: 0
  extraArgs:
    exclude-target-net: 192.168.0.0/16

  cloudflare:
    secretName: "cloudflare-api-token"
    proxied: false

  txtOwnerId: "public-external-dns"

  triggerLoopOnEvent: true
  logLevel: info
  logFormat: json
  policy: sync

  crd:
    create: false #managed by private-external-dns

  serviceAccount:
    automountServiceAccountToken: true

  resources:
    limits:
      memory: 50Mi
    requests:
      cpu: 10m
      memory: 30Mi

  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
