gatus-monitor:
  appName: argocd
  publicEndpoints:
    - name: argocd
  privateEndpoints:
    - name: argocd

argo-cd:
  nameOverride: argocd
  fullnameOverride: argocd
  global:
    revisionHistoryLimit: 0
    logging:
      format: json
      level: warn

  crds:
    annotations:
      argocd.argoproj.io/sync-options: ServerSideApply=true

  configs:
    cm:
      create: false
      exec.enabled: true

    secret:
      createSecret: true

    params:
      server.insecure: true
      hydrator.enabled: "true"

    rbac:
      create: false

  controller:
    replicas: 1

    resources:
      limits:
        memory: 2Gi
      requests:
        cpu: 300m
        memory: 1Gi

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true

  dex:
    enabled: false

  redis:
    enabled: true

    resources:
      limits:
        memory: 100Mi
      requests:
        cpu: 30m
        memory: 50Mi

    exporter:
      enabled: false

  server:
    replicas: 1

    httproute:
      enabled: true
      hostnames:
        - argocd.feddema.dev
      parentRefs:
        - name: envoy-gateway
          namespace: envoy-gateway
          sectionName: web-https

    resources:
      limits:
        memory: 300Mi
      requests:
        cpu: 150m
        memory: 150Mi

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true

    configEnabled: false

    rbacConfigCreate: false

  repoServer:
    replicas: 1

    resources:
      limits:
        memory: 500Mi
      requests:
        cpu: 100m
        memory: 250Mi

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true

  applicationSet:
    replicas: 0
    serviceAccount:
      create: false
      allowAnyNamespace: false
      
  notifications:
    enabled: false

  commitServer:
    enabled: false

