home-assistant:

  podSecurityContext:
    fsGroup: 5000

  securityContext:
    runAsGroup: 5000
    capabilities: {}

  persistence:
    size: 10Gi

  ingress:
    enabled: true
    class: nginx
    domain: home.mobrockers.com
    tls:
      enabled: true

  config:
    securityContext:
      runAsGroup: 5000

  additionalVolumes:
  - name: mqtts-proxy-config
    configMap:
      name: mqtts-proxy-config
  - name: svc-cluster-local-bundle
    configMap:
      name: svc-cluster-local-bundle
  additionalInitContainers:
  - name: mqtts-proxy
    image: cgr.dev/chainguard/stunnel:latest@sha256:c4b8a64e052fd248c21e34c4d3d2f4b0d7a8c06c9bb169b5bd47434bfcbc9ca4
    restartPolicy: Always
    command: ["stunnel", "/etc/conf/stunnel.conf"]
    volumeMounts:
    - name: mqtts-proxy-config
      mountPath: /etc/conf/
    - name: svc-cluster-local-bundle
      mountPath: /ca
      readOnly: true
    # resources:
    #   requests:
    #     cpu: 10m
    #     memory: 16Mi
    #   limits:
    #     memory: 64Mi

matterHub:
  image:
    repository: ghcr.io/t0bst4r/home-assistant-matter-hub
    tag: 3.0.0-alpha.41
