gatus-monitor:
  appName: falco
  publicEndpoints:
    - name: falco
  privateEndpoints:
    - name: falco

route:
  enabled: true
  hostnames:
    - falco.feddema.dev
  parentRefs:
    - name: envoy-gateway-public
      namespace: envoy-gateway
      sectionName: web-https

falco:
  metrics:
    enabled: true

  serviceMonitor:
    enabled: true

  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: null
      memory: 1024Mi

  driver:
    kind: modern-bpf
    modernEbpf:
      leastPrivileged: true

  collectors:
    docker:
      enabled: false
    crio:
      enabled: false
    kubernetes:
      enabled: true

  falco:
    priority: info
    json_output: false
    buffered_outputs: true
    log_level: debug

    metrics:
      enabled: true

  falcosidekick:
    enabled: true
    replicaCount: 1

    serviceMonitor:
      enabled: true

    prometheusRules:
      enabled: true
      alerts:
        warning:
          enabled: true
        error:
          enabled: true
        critical:
          enabled: false
        alert:
          enabled: true
        emergency:
          enabled: true
        output:
          enabled: true

    config:
      tlsclient:
        cacertfile: ""

    resources:
      limits:
        memory: 128Mi
      requests:
        cpu: 20m
        memory: 64Mi

    webui:
      enabled: true
      replicaCount: 1
      loglevel: "error"
      ttl: 5
      disableauth: true

      ingress:
        enabled: false

      resources:
        limits:
          memory: 128Mi
        requests:
          cpu: 20m
          memory: 32Mi

      redis:
        enabled: true
        storageEnabled: true
        storageSize: 16Gi

        resources:
          limits:
            memory: 512Mi
          requests:
            cpu: 10m
            memory: 128Mi

