gatus-monitor:
  appName: radarr
  publicEndpoints:
    - name: radarr
  privateEndpoints:
    - name: radarr

podSecurityContext:
  fsGroup: 5000
securityContext: {}

mediaPvcName: media-server-media

resources: {}

image:
  registry: ghcr.io
  repository: linuxserver/radarr
  tag: 6.0.4

persistence:
  size: 1Gi
  labels:
    feddema.dev/backup: "true"

route:
  enabled: true
  hostnames:
    - radarr.feddema.dev
  parentRefs:
    - name: envoy-gateway
      namespace: envoy-gateway
      sectionName: web-https
