gatus-monitor:
  appName: cilium
  publicEndpoints:
    - name: hubble
  privateEndpoints:
    - name: hubble

route:
  enabled: true
  hostnames:
    - hubble.feddema.dev
  parentRefs:
    - name: envoy-gateway-public
      namespace: envoy-gateway
      sectionName: web-https

cilium:
  MTU: 1450
  k8sServiceHost: localhost
  k8sServicePort: 7445
  kubeProxyReplacement: true
  rollOutCiliumPods: true

  resources:
    requests:
      cpu: 200m
      memory: 400Mi
    limits:
      memory: 600Mi

  envoy:
    rollOutPods: true
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
    resources:
      requests:
        cpu: 20m
        memory: 50Mi
      limits:
        memory: 100Mi

  ipam:
    mode: kubernetes
    multiPoolPreAllocation: null

  hostFirewall:
    enabled: true

  # Talos config
  securityContext:
    capabilities:
      ciliumAgent: [ CHOWN,KILL,NET_ADMIN,NET_RAW,IPC_LOCK,SYS_ADMIN,SYS_RESOURCE,DAC_OVERRIDE,FOWNER,SETGID,SETUID ]
      cleanCiliumState: [ NET_ADMIN,SYS_ADMIN,SYS_RESOURCE ]
  cgroup:
    autoMount:
      enabled: false
    hostRoot: /sys/fs/cgroup

  bgpControlPlane:
    enabled: true
    statusReport:
      enabled: true

  certgen:
    ttlSecondsAfterFinished: null

  hubble:
    metrics:
      serviceMonitor:
        enabled: true
      dashboards:
        enabled: true
        annotations:
          argocd.argoproj.io/sync-options: ServerSideApply=true
    tls:
      auto:
        method: cronJob
    relay:
      enabled: true
      rollOutPods: true
      resources:
        requests:
          cpu: 50m
          memory: 50Mi
        limits:
          memory: 100Mi
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: true
    ui:
      enabled: true
      rollOutPods: true
      backend:
        resources:
          requests:
            cpu: 20m
            memory: 25Mi
          limits:
            memory: 50Mi
      fronend:
        resources:
          requests:
            cpu: 20m
            memory: 25Mi
          limits:
            memory: 50Mi

  socketLB:
    hostNamespaceOnly: true

  monitor:
    enabled: true
    resources:
      requests:
        cpu: 50m
        memory: 30Mi
      limits:
        memory: 60Mi
  prometheus:
    metricsService: true
    enabled: true
    serviceMonitor:
      enabled: true
  dashboards:
    enabled: true
    annotations:
      argocd.argoproj.io/sync-options: ServerSideApply=true

  operator:
    prometheus:
      metricsService: true
      serviceMonitor:
        enabled: true
    rollOutPods: true
    dashboards:
      enabled: true
      annotations:
        argocd.argoproj.io/sync-options: ServerSideApply=true
    resources:
      requests:
        cpu: 100m
        memory: 80Mi
      limits:
        memory: 160Mi
