apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: enphase-envoy-prometheus-exporter-vpa
  namespace: enphase-envoy-prometheus-exporter
spec:
  targetRef:
    apiVersion: "apps/v1"
    kind:       Deployment
    name:       enphase-envoy-prometheus-exporter
  updatePolicy:
    updateMode: "Off"
