apiVersion: v1
kind: Secret
metadata:
  name: sonarr-api-key
  namespace: buildarr
stringData:
  api-key.yaml: |-
    sonarr:
      instances:
        sonarr:
          api_key: 8d5bca5706974ed5a387bc0f346da65a
