database:
  clusterName: harbor-postgres
  replicas: 2
  storageClass: ceph-block-nvme-1
  size: 5Gi

harbor:
  expose:
    type: route
    tls:
      enabled: false
    route:
      parentRefs:
        - name: envoy-gateway-public
          namespace: envoy-gateway
          sectionName: web-https
      hosts:
        - harbor.feddema.dev

  externalURL: https://harbor.feddema.dev

  persistence:
    enabled: true
    persistentVolumeClaim:
      redis:
        size: 1Gi
      trivy:
        size: 5Gi
    imageChartStorage:
      disableredirect: true
      type: s3
      s3:
        existingSecret: "harbor-s3-credentials"
        region: 'eu'
        bucket: harbor
        regionendpoint: http://rook-ceph-rgw-ceph-object-nvme-2.rook-ceph.svc:80
        secure: false

  existingSecretAdminPassword: "harbor-credentials"
  existingSecretSecretKey: "harbor-credentials"

  ipFamily:
    ipv6:
      enabled: false

  logLevel: info

  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

  portal:
    nodeSelector:
      kubernetes.io/arch: amd64
    replicas: 2
    revisionHistoryLimit: 0

  core:
    secretName: "root-ca-tls"
    nodeSelector:
      kubernetes.io/arch: amd64
    replicas: 2
    revisionHistoryLimit: 0
    existingSecret: "harbor-credentials"
    existingXsrfSecret: "harbor-credentials"

  jobservice:
    nodeSelector:
      kubernetes.io/arch: amd64
    replicas: 2
    revisionHistoryLimit: 0
    jobLoggers:
      - stdout
    existingSecret: "harbor-credentials"

  registry:
    replicas: 2
    revisionHistoryLimit: 0
    existingSecret: "harbor-credentials"
    credentials:
      existingSecret: "harbor-credentials"
    nodeSelector:
      kubernetes.io/arch: amd64

  trivy:
    enabled: true
    replicas: 1
    vulnType: "os,library"
    severity: "UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL"
    insecure: true
    nodeSelector:
      kubernetes.io/arch: amd64

  database:
    type: external
    external:
      host: harbor-postgres-rw
      port: 5432
      username: app
      coreDatabase: app
      existingSecret: harbor-credentials

  redis:
    type: internal
    internal:
      nodeSelector:
        kubernetes.io/arch: amd64

  exporter:
    nodeSelector:
      kubernetes.io/arch: amd64
    replicas: 2
    revisionHistoryLimit: 0
