external-dns:
  global:
    security:
      allowInsecureImages: true
  image:
    registry: registry.k8s.io
    repository: external-dns/external-dns
    tag: v0.20.0
  sources:
    - service
    - crd
    - gateway-httproute
    - gateway-tlsroute
    - gateway-udproute
    - gateway-tcproute
    - gateway-grpcroute

  provider: webhook
  revisionHistoryLimit: 0
  extraArgs:
    webhook-provider-url: http://localhost:8888
    target-net-filter: 192.168.0.0/16

  sidecars:
    - name: adguard-webhook
      image: ghcr.io/muhlba91/external-dns-provider-adguard:v11.0.0
      ports:
        - containerPort: 8080
          name: metrics
      livenessProbe:
        httpGet:
          path: /healthz
          port: metrics
        initialDelaySeconds: 10
        timeoutSeconds: 5
      readinessProbe:
        httpGet:
          path: /healthz
          port: metrics
        initialDelaySeconds: 10
        timeoutSeconds: 5
      env:
        - name: LOG_LEVEL
          value: debug
        - name: ADGUARD_URL
          valueFrom:
            secretKeyRef:
              name: adguard-credentials
              key: url
        - name: ADGUARD_USER
          valueFrom:
            secretKeyRef:
              name: adguard-credentials
              key: user
        - name: ADGUARD_PASSWORD
          valueFrom:
            secretKeyRef:
              name: adguard-credentials
              key: password
        - name: DRY_RUN
          value: "false"

  txtOwnerId: "private-external-dns"

  triggerLoopOnEvent: true
  logLevel: info
  logFormat: json
  policy: sync

  crd:
    create: true

  serviceAccount:
    automountServiceAccountToken: true

  resources:
    limits:
      memory: 50Mi
    requests:
      cpu: 10m
      memory: 30Mi

  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
