patchBackupPvcJob:
  enabled: true
  image:
    registry: docker.io
    repository: bitnami/kubectl
    tag: 1.31.3
  pvcNames:
    - nextcloud-nextcloud

database:
  size: 8Gi
  replicas: 2

nextcloud:
  replicaCount: 1

  image:
    flavor: fpm

  phpClientHttpsFix:
    enabled: true
    protocol: https

  readinessProbe:
    enabled: true
    initialDelaySeconds: 30
    periodSeconds: 15
    timeoutSeconds: 10
    failureThreshold: 10
    successThreshold: 1

  nginx:
    enabled: true

  ingress:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: 4G
      cert-manager.io/cluster-issuer: letsencrypt-dns
      nginx.ingress.kubernetes.io/server-snippet: |-
        server_tokens off;
        proxy_hide_header X-Powered-By;

        rewrite ^/.well-known/webfinger /public.php?service=webfinger last;
        rewrite ^/.well-known/host-meta /public.php?service=host-meta last;
        rewrite ^/.well-known/host-meta.json /public.php?service=host-meta-json;
        location = /.well-known/carddav {
          return 301 $scheme://$host/remote.php/dav;
        }
        location = /.well-known/caldav {
          return 301 $scheme://$host/remote.php/dav;
        }
        location = /robots.txt {
          allow all;
          log_not_found off;
          access_log off;
        }
        location ~ ^/(?:build|tests|config|lib|3rdparty|templates|data)/ {
          deny all;
        }
        location ~ ^/(?:autotest|occ|issue|indie|db_|console) {
          deny all;
        }

    tls:
      - secretName: nextcloud-tls
        hosts:
          - nextcloud.feddema.dev

  nextcloud:
    host: nextcloud.feddema.dev

    existingSecret:
      enabled: true
      secretName: nextcloud-credentials
      usernameKey: username
      passwordKey: password

    mail:
      enabled: false

    resources:
      limits:
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi

  internalDatabase:
    enabled: false

  externalDatabase:
    enabled: true
    type: postgresql
    host: nextcloud-postgres-rw
    database: app

    existingSecret:
      enabled: true
      secretName: nextcloud-credentials
      usernameKey: postgres-username
      passwordKey: postgres-password

  redis:
    enabled: false

  cronjob:
    enabled: true

  persistence:
    enabled: true
    accessMode: ReadWriteOnce
    size: 16Gi
    # labels are added by hand
    labels:
      recurring-job.longhorn.io/source: enabled
      recurring-job-group.longhorn.io/backup: enabled

  resources:
    limits:
      memory: 512Mi
    requests:
      cpu: 90m
      memory: 128Mi

  metrics:
    enabled: true
    info:
      apps: true
    serviceMonitor:
      enabled: true

  rbac:
    enabled: true
    serviceaccount:
      create: true
      name: nextcloud-serviceaccount
