gatus-monitor:
  appName: nextcloud
  publicEndpoints:
    - name: nextcloud
  privateEndpoints:
    - name: nextcloud

route:
  enabled: true
  hostnames:
    - nextcloud.feddema.dev
  parentRefs:
    - name: envoy-gateway-public
      namespace: envoy-gateway
      sectionName: web-https

database:
  clusterName: nextcloud-postgres
  size: 8Gi
  replicas: 2

nextcloud:
  replicaCount: 1

  image:
    flavor: fpm

  phpClientHttpsFix:
    enabled: true
    protocol: https

  startupProbe:
    enabled: true
    initialDelaySeconds: 5
    periodSeconds: 5
    failureThreshold: 50
    successThreshold: 1

  nginx:
    enabled: true

  nextcloud:
    host: nextcloud.feddema.dev

    existingSecret:
      enabled: true
      secretName: nextcloud-credentials
      usernameKey: username
      passwordKey: password

    mail:
      enabled: false

    resources:
      limits:
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi

  internalDatabase:
    enabled: false

  externalDatabase:
    enabled: true
    type: postgresql
    host: nextcloud-postgres-rw
    database: app

    existingSecret:
      enabled: true
      secretName: nextcloud-credentials
      usernameKey: postgres-username
      passwordKey: postgres-password

  redis:
    enabled: false

  cronjob:
    enabled: true

  persistence:
    enabled: true
    accessMode: ReadWriteOnce
    size: 50Gi

  resources:
    limits:
      memory: 512Mi
    requests:
      cpu: 90m
      memory: 128Mi

  metrics:
    enabled: true
    info:
      apps: true
    serviceMonitor:
      enabled: true

  rbac:
    enabled: true
    serviceaccount:
      create: true
      name: nextcloud-serviceaccount
