 node-problem-detector:
   image:
     repository: registry.k8s.io/node-problem-detector/node-problem-detector
     tag: v0.8.18

   resources: { }

   metrics:
     enabled: true
     serviceMonitor:
       enabled: true
     prometheusRule:
       enabled: true
       defaultRules:
         create: true