gatus-monitor:
  appName: authentik
  publicEndpoints:
    - name: authentik
  privateEndpoints:
    - name: authentik

database:
  clusterName: authentik-postgres
  replicas: 2
  storageClass: ceph-block-nvme-1
  size: 64Gi

authentik:
  global:
    revisionHistoryLimit: 0
    env:
      - name: AUTHENTIK_SECRET_KEY
        valueFrom:
          secretKeyRef:
            key: secretKey
            name: authentik-secret
      - name: AUTHENTIK_POSTGRESQL__PASSWORD
        valueFrom:
          secretKeyRef:
            key: databasePassword
            name: authentik-secret
      - name: AUTHENTIK_EMAIL__USERNAME
        valueFrom:
          secretKeyRef:
            key: emailUsername
            name: authentik-secret
      - name: AUTHENTIK_EMAIL__PASSWORD
        valueFrom:
          secretKeyRef:
            key: emailPassword
            name: authentik-secret

  worker:
    replicas: 2

  server:
    replicas: 2

    metrics:
      serviceMonitor:
        enabled: true
    route:
      main:
        enabled: true
        hostnames:
          - authentik.feddema.dev
        parentRefs:
          - name: envoy-gateway-public
            namespace: envoy-gateway
            sectionName: web-https

  authentik:
    log_level: warning

    postgresql:
      host: "authentik-postgres-rw"
      name: "app"
      user: "app"
      port: 5432
    redis:
      host: "{{ .Release.Name }}-redis-master"

  email:
    host: "smtp.postmarkapp.com"
    port: 587
    use_tls: true
    from: "admin@feddema.dev"

  prometheus:
    rules:
      enabled: true

  redis:
    enabled: true
    architecture: standalone
    auth:
      enabled: false
    master:
      revisionHistoryLimit: 0
      persistence:
        size: 16Gi
      nodeSelector:
        kubernetes.io/arch: amd64
