kubernetes-replicator:
  args:
    - --resync-period=1m

  podSecurityContext:
    fsGroup: 2000

  securityContext:
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    runAsUser: 1000

  resources:
    limits:
      memory: 64Mi
    requests:
      cpu: 10m
      memory: 32Mi
