replicas: 1

image:
  registry: ghcr.io
  repository: home-assistant/home-assistant
  tag: 2024.8.0

resources: {}

podSecurityContext: {}

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop: [ "ALL" ]
    add: ["NET_RAW", "NET_BIND_SERVICE"]

persistence:
  accessMode: ReadWriteOnce
  size: 5Gi
  labels:
    recurring-job.longhorn.io/source: enabled
    recurring-job-group.longhorn.io/backup: enabled

ingress:
  enabled: true
  domain: home.feddema.dev
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-dns
  tls:
    enabled: true
    secretName: home-assistant-tls

nodeName: kashaylan-3

config:
  secret:
    name: home-assistant-secret
    sealedValues:
      secretsYaml: AgAQTCj0KYA7bbJpm8N6cvz47rxzUgsKz1z8Bo6q+OdJSww7Z/ALvKISVBZmGzG/ic9+tn+sCobzVN02s4addhBr8nOfy4GGfrUGITyUk80nu3acO8B/VEKIyfsDRXzUsK/2doNfKZrHlBiPfZtKCbq4xj7aSPFJ022vqJvkKZserLhmCSuP0IhEXEajJdbzsY0CI0AVyHZJaYOz/WqRCibW9EhEN03K7BB/rShuxkM+FUVnnoHJEdgFzis9e9a+xiZZYjt0+UWBN1oA4T530Z6MRI/ZDqJpQWV9DeNapJxJR7Hlh8njXxY9eK3MnIaHw0juZgZ1/tXYv8ZOPjqsQJDjLj4rDtg9G7ED0g8SFnAC/8LBYGH+20JJvUtVvxGVWCr+NZKb8EZf3sV6xogRL2zVjbrHskP38jjfVtnAPYGMGrcG9n8kRSaP5iWClJZ0bzV2J0IFXL4LYF7i0i1GPZXUukZnE92FAWTbsMra0wrLf4AwugXoMQuMpBw1a67Ou6+i8o5V09M0CQIrI6qIkwGQCBsMt7tGbb4G5vxU4dEUzf493jyfjDkTXNjLPUZRlgKfJ7r+9AiJfw3+l/XBQq4EziA2BHP9e3u1Z2kbPs3b5J5oTDzse0Gw7UYL11ngx9D1iFOpkRnps/h185CbwTJ9wEox8DOMujuLv6iX5gcZ2iTn1MJNHV4eXZZgSAFJta0sTEvzJgU54hcfkd7ntoCyq85jtEo2NM+OdmKNoLTt9+qfeBqKAQh/FH+7VH5wW3vmnH1L6AvzpIl8+A6IZWViqcS+R+8C9P7PQyQbf0ZlI+82GNgqiZ6hPGlD6r7D6P9IbDORobi8t02lM1Lg1oVLfgHj+tnq2eHrza3amKWDzfgNd8rUub0nhaqaJGacFaZcVZdqn2ek6MaDlcTW4Y8FSbjPmt9WDz3r+6nFGncojvqj0f4yNx4M26yXSRCPiSJCXlx/OGVQVRvbOaHqRvTvQSJH7Ypm4rd6mpU80PFgDrBgDQ==

  image:
    registry: docker.io
    repository: busybox
    tag: 1.36.1

  createFiles:
    - customize.yaml
    - automations.yaml
    - scripts.yaml
    - scenes.yaml
    - sensors.yaml
    - known_devices.yaml
    - mqtt_sensors.yaml
    - binary_sensors.yaml
    - groups.yaml

  configurationYaml: |
    # Loads default set of integrations. Do not remove.
    default_config:
    
    homeassistant:
      name: Home
      unit_system: metric
      temperature_unit: C
      currency: EUR
      external_url: https://home.feddema.dev
      customize: !include customize.yaml
      language: en
      country: NL
      packages: !include_dir_named packages

    http:
      use_x_forwarded_for: true
      trusted_proxies:
        - 10.0.0.0/8

    logger:
      default: error
      logs:
        homeassistant.components.homekit: info
    
    afvalbeheer:
      wastecollector: MijnAfvalwijzer
      resources:
        - restafval
        - gft
        - papier
      postcode: 5628AN
      streetnumber: 50
      upcomingsensor: 1
    
    homekit:
      name: Homekit Assistant Bridge
      mode: bridge
      advertise_ip: 192.168.4.14
      port: 21064
      filter:
        include_entities:
          - switch.bedroom_switch_1
          - switch.diningroom_switch_1
          - switch.livingroom_switch_1
        exclude_entities:
          - sensor.hacs
        exclude_entity_globs:
          - person.*
          - binary_sensor.*
          - switch.*
          - cover.*
          - lock.*
          - button.*
          - scene.*
          - select.*
          - switch.automation_*
          - scene.automation_*
          - sensor.drive_cloud_*
          - tts.*
          - sensor.*price*
          - sensor.*iphone*
          - sensor.dsmr_*
    
    tts:
      - platform: google_translate

    mqtt: !include mqtt_sensors.yaml
    binary_sensor: !include binary_sensors.yaml
    automation: !include automations.yaml
    script: !include scripts.yaml
    scene: !include scenes.yaml
    sensor: !include sensors.yaml
    group: !include groups.yaml
