gatus-monitor:
  appName: homeassistant
  publicEndpoints:
    - name: home
    - name: homeassistant
  privateEndpoints:
    - name: home
    - name: homeassistant

home-assistant:
  nodeName: kashaylan-3

  useHostNetworking: true

  podSecurityContext:
    fsGroup: 0

  securityContext:
    runAsGroup: 0
    capabilities:
      drop: [ "ALL" ]
      add: [ "NET_RAW", "NET_BIND_SERVICE" ]

  persistence:
    size: 10Gi

  route:
    enabled: true
    hostnames:
      - home.feddema.dev
      - homeassistant.feddema.dev
    parentRefs:
      - name: envoy-gateway
        namespace: envoy-gateway
        sectionName: web-https

  ingress:
    enabled: false

  config:
    securityContext:
      runAsGroup: 0
