apiVersion: v1
kind: Service
metadata:
  name: {{ template "zigbee2mqtt.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ template "zigbee2mqtt.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: "zigbee2mqtt"
    {{- include "labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
  selector:
    app.kubernetes.io/name: {{ template "zigbee2mqtt.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: "zigbee2mqtt"
