gatus-monitor:
  appName: sonarr
  publicEndpoints:
    - name: sonarr
  privateEndpoints:
    - name: sonarr

podSecurityContext:
  fsGroup: 5000
securityContext: {}

mediaPvcName: media-server-media

resources: {}

image:
  registry: ghcr.io
  repository: linuxserver/sonarr
  tag: 4.0.15

persistence:
  size: 5Gi
  labels:
    feddema.dev/backup: "true"

route:
  enabled: true
  hostnames:
    - sonarr.feddema.dev
  parentRefs:
    - name: envoy-gateway-public
      namespace: envoy-gateway
      sectionName: web-https
