gatus-monitor:
  appName: cyberchef
  publicEndpoints:
    - name: cyberchef
    - name: tools
  privateEndpoints:
    - name: cyberchef
    - name: tools

cyberchef:
  ingress:
    enabled: false

  route:
    enabled: true
    hostnames:
      - cyberchef.feddema.dev
      - tools.feddema.dev
    parentRefs:
      - name: envoy-gateway
        namespace: envoy-gateway
        sectionName: web-https
